.magrin{
    justify-content: center;
    flex-direction: row;
}
.category_text{
    width: 515px;
    text-align: center;
}
.category_text h1{
    margin-bottom: 16px;
}
.category_text p{
    line-height: 28px;
}
.category_text h3{
    letter-spacing: 3px;
    margin-top: 32px;
}