.policy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 128px;
}
.policy_first{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 200px;
}

.policy_text{
    width: 768px;
   
    margin: auto;
}
.policy_text h1{
    margin-bottom: 32px;
}
.policy_text p{
    margin-bottom: 32px;
}
.policy_text h2{
    margin-bottom: 24px;
}