.join_pos{
    
    padding-bottom: 128px;
}
.join_text{
    width: 414px;
    height: 256px;
    margin: 0 auto;
    text-align: center;
}
.join_text h2{
    margin-bottom: 15px;
}
.join_text p{
    margin-bottom: 32px;
}